---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Button from "@/components/ui/Button.astro";

const menuitems = [
  { href: "/about", label: "Nosotros" },
  { href: "/services", label: "Servicios" },
  { href: "/#cases", label: "Casos de exito" },
  // { href: "/#footer", label: "Contácto" },
  // { href: '/pricing', label: 'Pricing' },
  // { href: '/articles', label: 'Blog'},
];

const navButton = {
  href: "/#footer",
  label: "Contáctanos",
};
---

<div class="">
  <nav
    id="main-navbar"
    class="w-full top-0 left-0 z-50 fixed bg-white transition-colors duration-300"
  >
    <header
      class="flex flex-col lg:flex-row justify-between items-center px-4 md:px-24"
    >
      <Astronav>
        <!-- Logo y Botón de Menú Móvil -->
        <div
          class="flex w-full lg:w-auto items-center justify-between relative z-[70]"
        >
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img
              src="/Logo.svg"
              class="h-20 drop-shadow-[0_0_2px_white]"
              alt="Logo"
            />
          </a>
          <div class="block lg:hidden">
            <div id="menu-icon" class="w-8 h-8 text-black cursor-pointer">
              <!-- Open (hamburger) icon -->
              <svg
                id="open-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                class="w-8 h-8"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
              <!-- Close (X) icon -->
              <svg
                id="close-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                class="w-8 h-8 hidden"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </div>
          </div>
        </div>

        <!-- Enlaces de Navegación (Menú desplegable en móvil / Lista horizontal en desktop) -->
        <nav
          class="hidden fixed inset-0 bg-white z-[60] lg:static lg:bg-transparent lg:flex lg:w-auto lg:mt-0"
          id="menu-items"
        >
          <ul
            class="navbar-link font-medium flex flex-col items-center justify-center h-full w-full gap-8 p-4 lg:flex-row lg:space-x-8 lg:mt-0 lg:border-0 lg:h-auto lg:w-auto lg:gap-0"
          >
            {
              menuitems.map((item, index) => (
                <li class="w-full lg:w-auto group">
                  <a
                    href={item.href}
                    class="navbar-link mobile-nav-link block py-2 px-3 text-2xl lg:text-base text-black rounded lg:bg-transparent lg:p-0 text-center transition-colors duration-200 group-hover:bg-blue/20 group-hover:text-blueSecundary hover:opacity-50"
                    data-close-menu="true"
                  >
                    {item.label}
                  </a>
                </li>
              ))
            }
            <!-- Botón de Contacto (Solo visible en menú móvil) -->
            <div
              class="lg:hidden flex items-center justify-center mt-3 gap-4 w-full"
            >
              <Button
                variant="primary"
                href={navButton.href}
                class="mobile-nav-link px-14 py-5 rounded-lg border border-[var(--blue)] hover:border-black text-white hover:text-black w-fit"
                data-close-menu="true"
              >
                <h2 class="text-left text-xl font-normal leading-7">
                  {navButton.label}
                </h2>
              </Button>
            </div>
          </ul>
        </nav>
      </Astronav>

      <div>
        <!-- Botón de Contacto (Solo visible en Desktop) -->
        <div class="hidden lg:flex items-center gap-4">
          <Button
            variant="primary"
            href={navButton.href}
            class="btn-navbar-link px-8 py-3 rounded-lg border border-zinc-900"
          >
            <h2 class="text-center text-base font-normal leading-7">
              {navButton.label}
            </h2>
          </Button>
        </div>
      </div>
    </header>
  </nav>
</div>

<script is:inline>
  // Get references to the menu icon, open/close icons, and menu items
  const menuIcon = document.getElementById("menu-icon");
  const openIcon = document.getElementById("open-icon");
  const closeIcon = document.getElementById("close-icon");
  const menuItems = document.getElementById("menu-items");
  const closeMenuItems = document.querySelectorAll('[data-close-menu="true"]'); // Select all items with the 'data-close-menu' attribute

  // Toggle the menu visibility and icon when the menu icon is clicked
  menuIcon.addEventListener("click", () => {
    const isHidden = menuItems.classList.toggle("hidden"); // Toggle the 'hidden' class on the menu
    document.body.style.overflow = isHidden ? "" : "hidden"; // Prevent scroll when menu is open

    // Toggle between open and close icons
    openIcon.classList.toggle("hidden");
    closeIcon.classList.toggle("hidden");
  });

  // Close the menu when any item is clicked
  closeMenuItems.forEach((item) => {
    item.addEventListener("click", () => {
      menuItems.classList.add("hidden"); // Add the 'hidden' class to hide the menu
      document.body.style.overflow = ""; // Re-enable scroll
      openIcon.classList.remove("hidden"); // Show the open (hamburger) icon
      closeIcon.classList.add("hidden"); // Hide the close (X) icon
    });
  });

  // Cambia el fondo del navbar y el color de los enlaces al hacer scroll
  // const navbar = document.getElementById("main-navbar");
  // const navbarLinks = document.querySelectorAll(".navbar-link");
  // window.addEventListener("scroll", () => {
  //   if (window.scrollY > 40) {
  //     navbar.classList.remove("bg-transparent");
  //     navbar.classList.add("bg-white");
  //     navbarLinks.forEach((link) => {
  //       link.classList.remove("text-white","bg-blue");
  //       link.classList.add("text-black");
  //     });
  //   } else {
  //     navbar.classList.add("bg-transparent");
  //     navbar.classList.remove("bg-white", "text-black");
  //     navbarLinks.forEach((link) => {
  //       link.classList.remove("text-black");
  //       link.classList.add("text-white");
  //     });
  //   }
  // });
</script>
