---
import { Image } from "astro:assets";
import Card from "./Card.astro";

// import gob from "../../assets/icon6.svg";
import wob from "../../assets/icon7.svg";

/* 
1. Gray card with green title and green on black icon 
2. Green card with gray title and green on black icon
3. Black card with gray title and gray on black icon
*/

const { index, titleTop, description, img, alt, link } =
  Astro.props;
---

<Card isUnderline={true}>
  <div
    class=`h-[250px] h-auto w-full flex flex-col gap-6 sm:h-full sm:p-[50px] lg:gap-[40px] lg:flex flex-col p-8 rounded-[15px] ${index === 1 ? 'bg-gray' : index === 2 ? 'bg-blue text-white' : 'bg-blue text-white'}`
  >
    <h3 class=`text-lg flex flex-col col-span-1 lg:col-span-1`>
      <span class=`w-[fit-content] ${index === 1 ? 'blackhead' : 'whitehead'}`
        >{titleTop}</span
      >
      <!-- <span class=`w-[fit-content] ${index === 1 ? 'blackhead' : 'whitehead'}`
        >{titleBottom}</span
      > -->
    </h3>
    <div class="flex flex-col items-center gap-6 md:flex-row">
      <p
        class="flex flex-col text-blackm lg:order-2 lg:row-span-1 lg:col-span-1"
      >
        <span>{description}</span>
      </p>
      <picture
        class="w-full h-full row-span-1 order-1 lg:order-3 lg:row-span-2 flex justify-center items-center"
      >
        <Image
          src={img}
          alt={alt}
          class="h-full w-2/5 sm:h-auto sm:w-3/4 object-cover"
        />
      </picture>
    </div>

    <div class="flex items-end order-3 lg:col-span-2 lg:row-start-3">
      <a href={link} class="flex items-center gap-3.5"
        ><Image src={wob} alt={alt} />
        <span class="hidden sm:block">Información de Servicio</span></a
      >
              <!-- ><Image src={index === 1 || index === 2 ? gob : wob} alt={alt} /> -->

    </div>
  </div>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
